<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>SurpRECIPES</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="login">Log in</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
       

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->
  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">WELCOME TO</div>
              <h2 class="mb-4 display-4">SurpRECIPES!</h2>

              <p>Welcome to our flavorful corner of the internet! We're a vibrant community of food enthusiasts who believe that sharing recipes is the ultimate way to spread joy and connect with others. Whether you're a seasoned chef or a culinary newbie, our social website is your go-to destination for all things delicious. We're here to inspire your kitchen adventures, exchange tried-and-true family favorites, and discover mouthwatering creations from around the world. So grab your apron, sharpen those knives, and get ready to embark on a delightful culinary journey together.</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Mission &amp; Vision</div>
              <h2 class="mb-4 display-4">Mission &amp; Vision</h2>
              <p>Our mission is to foster a vibrant online community where food lovers from all walks of life can come together to share, discover, and celebrate the art of cooking. We believe that the joy of preparing and sharing delicious recipes transcends borders and cultures, bringing people closer together. Through our platform, we aim to inspire and empower individuals to unleash their culinary creativity, exchange ideas, and forge meaningful connections. Our vision is to create a global hub that connects people through their shared love for recipes, fostering a sense of community, cultural exchange, and culinary exploration. Together, we can create a world where the language of food unites us all.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="display-4 mb-4">Community</h2>
            <p>At SurpRECIPES, we believe that food has the power to bring people together and create lasting connections. Our vibrant community is at the heart of everything we do. It's a place where food enthusiasts, home cooks, and professional chefs alike can gather to share their passion for cooking, exchange ideas, and support one another. Join our community and become part of a network of individuals who appreciate the beauty of culinary exploration. Engage in discussions, participate in recipe challenges, and connect with fellow food lovers from around the world. Together, let's celebrate the joy of food and create a welcoming space where everyone feels inspired and encouraged to share their culinary experiences.</p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <img src="assets/img/post-portrait-3.jpg" alt="" class="img-fluid mb-4">
              </div>
              <div class="col-6 mt-4">
                <img src="assets/img/post-portrait-4.jpg" alt="" class="img-fluid mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                <p>Our talented team of web developers is committed to creating an exceptional online platform that enhances your recipe sharing experience.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/person-1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Adi Buchris</h4>
            <span class="d-block mb-3 text-uppercase">favorite food: Pizza</span>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/person-6.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Esty Blotnik</h4>
            <span class="d-block mb-3 text-uppercase">favorite food: pasta</span>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/person-3.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Shirel Abargil</h4>
            <span class="d-block mb-3 text-uppercase">favorite food: ice cream</span>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/person-4.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Noa Asulin</h4>
            <span class="d-block mb-3 text-uppercase">favorite food: shnitzel</span>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/person-5.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Malki Rochield</h4>
            <span class="d-block mb-3 text-uppercase">favorite food: salad</span>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/person-2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Demi Netzer</h4>
            <span class="d-block mb-3 text-uppercase">favorite food: meat</span>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">


      <div class="footer-legal">
        <div class="container">
  
          <div class="row justify-content-between">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              <div class="copyright">
                © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
              </div>
  
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                Designed by SCE
              </div>
  
            </div>
  
            <div class="col-md-6">
              <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                
              </div>
  
            </div>
  
          </div>
  
        </div>
      </div>
  
    </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>