<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        User Home Page
    </title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    
</body>

</html>


