<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="position-relative">
       

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

    </div>
        
  <main id="main">
    <section>
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <h2 class="display-4">Search for a Recipe</h2>
                  <p>Explore and delight in discovering new recipes by searching through categories!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=soups">
                <img src="assets/img/soup.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>SOUP</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=bread">
                <img src="assets/img/bread.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>BREAD</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=cakes and cookies">
                <img src="assets/img/cakes.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>CAKES & COOKIES</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=fish">
                <img src="assets/img/fish.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>FISH</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=pizza">
                <img src="assets/img/pizza.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>PIZZA</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=salad">
                <img src="assets/img/salad.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>SALAD</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=pies and quiches">
                <img src="assets/img/pies.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>PIES & QUICHES</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=dessert">
                <img src="assets/img/dessert.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>DESSERT</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=stew">
                <img src="assets/img/stew5.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>STEW</h4>
                </a>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <a href="/category?category=sandwich">
                <img src="assets/img/sandwich.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>SANDWICH</h4>
                </a>
            </div>
              
              <!-- <div class="col-lg-4 text-center mb-5">
                <a href="/sandwich?category=salad">
                <img src="assets/img/sandwich.jpg" alt="" class="img-fluid w-50 mb-4">
                <h4>SANDWICH</h4>
                </a>
              </div> -->
          </div>
        </div>
      </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>Search</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
