<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User Profile | <%= user %></title>
  <link rel="stylesheet" type="text/css" href="user_profile.css">

</head>
<body>
<div class="container">
	<div class="profile-header">
	  <div class="profile-img">
		<img src="./bg.jpg" width="200" >
	  </div>
	  <div class="profile-nav-info">
		<h3 class="user-name">noa</h3>
		</div>
	  </div>
	  </div>
	</div>
  
	<div class="main-bd">
	  <div class="left-side">
		<div class="profile-side">
		  <div class="my-level">
			<h3>My Level</h3>
			<p class="level">
			 chef
			</p>
		  </div>
		  <div class="profile-btn">
			<button class="my-acount-btn" id="my-acount-btn"><i class="my-acount"></i> My Acount</button>
			<button class="follow-btn" id="follow-btn"><i class="follow"></i>Follow</button>
		  </div>
		  <div class="follow-nav">
		  </div>
		</div>
	  </div>
	  <div class="right-side">
		<div class="nav">
		  <ul>
			<li onclick="tabs(0)" class="Followings-num">Followings</li>
			<li onclick="tabs(1)" class="Followers-num">Followers</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>
</body>
</html>